.pagination.pagination-lg .page-link {
    color: #14327A !important;
    border-color: #2a4993 !important;
    font-size: 1.25rem !important;
    padding: 0.75rem 1.5rem !important;
  }
  
  .pagination.pagination-lg .page-link:hover {
    background-color: #14327A !important;
    color: white !important;
  }
  