<div class="home-section text-white d-flex 
            flex-column justify-content-end p-5">
  <div class="row justify-content-start mb-5 pb-5 gap-4 align-items-center"
              data-aos="fade-right" 
              data-aos-duration="1200">
    <h1 class="display-3 ms-2" style="border-left: 2px solid white">PalEstate</h1>
    <div class="d-flex align-items-center">
      <p class="lead bold col-12 col-md-8 col-lg-8 col-xl-7">
        Welcome to Palestine's first real estate platform, 
        where finding, buying, and selling properties is seamless. 
        Join us and shape the future of real estate in Palestine.</p>
  
      <button class="btn btn-light btn-lg col-12 col-md-3 col-lg-2 col-xl-1" 
              (click)="this.router.navigateToLogin()">Join Us</button>
    </div>
  </div>
  <div class="row d-flex justify-content-end"
              data-aos="fade-left" 
              data-aos-duration="1200">
    <a href="https://www.facebook.com" target="_blank"><img src="/assets/icons/socialMedia/white/facebook.png" class = 'icon'></a>
    <a href="https://www.instagram.com" target="_blank"><img src="/assets/icons/socialMedia/white/instagram.png" class = 'icon'></a>
    <a href="https://www.whatsapp.com" target="_blank"><img src="/assets/icons/socialMedia/white/whatsapp.png" class = 'icon'></a>
    <a href="https://www.x.com" target="_blank"><img src="/assets/icons/socialMedia/white/twitter.png" class = 'icon'></a>
  </div>
</div>
